.content-panel {
  display: flex;
  flex: 1 0 0;
  overflow: hidden;
}

.content {
  flex: 1 0 0;
  padding: 5px 15px;
  overflow: auto;

  background-image: url('../img/main-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
}