.content-panel {
  display: flex;
  flex: 1 0 0;
  overflow: hidden;
}

.content {
  flex: 1 0 0;
  padding: 5px 15px;
  overflow: auto;

  background-position: center center;
  background-repeat: no-repeat;

  h1 {
    margin: 0 0 16px;
    padding: 0;
  }
}
