.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .no-values-panel {
    padding: 14px 0;
    text-align: center;
    border-radius: 7px;
    background-color: #252526;
  }

  label {
    display: block;
    font-weight: bold;
    padding: 6px 0;
    font-size: 1.1em;
  }

  input[type=text] {
    border: none;
    border-bottom: 1px solid #fff;
  }

  .separator {
    padding: 6px 12px;
  }

  &.docker-image {
    display: flex;

    .docker-image-tag {
      width: 100px;
    }
  }
}

.form-control-wrapper {
  flex-direction: row;
  display: flex;
  margin-bottom: 5px;
}

.form-control {
  outline: none;
  color: #fff;
  background-color: #343434;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border: none;
  border-bottom: 1px solid #ccc;
}