.form-group {
  label {
    display: block;
    font-weight: bold;
  }

  input {
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    padding: 5px;
  }

  input[type=text] {
    border: none;
    border-bottom: 1px solid #fff;
  }

  &.docker-image {
    .separator {
      padding: 0 4px;
    }
    .docker-image-tag {
      width: 50px;
    }
  }
}

