.left-panel {
  background-color: #252526;
  flex-basis: 225px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.left-nav-panel {
  display: flex;
  width: 100%;
}

.left-panel-title {
  padding: 3px 8px;
  margin: 0;
  font-size: 1em;
}