.service-list-panel {
  flex: 1 0 0;
  overflow-y: auto;
}

.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.service-list-item {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 1px;
  padding: 3px 8px;

  &.inactive {
    font-style: italic;
    color: rgba(#ffffff, 0.2);
  }

  a {
    flex: 1 0 0;
    color: inherit;
    text-decoration: none;
  }

  .icon {
    padding-right: 8px;
  }

  input {
    align-self: flex-end;
  }
}
