@import "_service-list";
@import "_statusbar";

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
    font-size: 13px;
    color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
}

.dce-app {
    height: 100%;
}

.main-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-pane > main {
    display: flex;
    flex: 1 0 0;
}

.left-pane {
    background-color: #252526;
    flex-basis: 170px;
    flex-shrink: 0;
    display:flex;
    flex-direction: column;
}

.main-pane {
    background-color: #1e1e1e;
    flex: 1 0 0;
}