@import "service-list";
@import "statusbar";
@import "left.panel";
@import "main.panel";
@import "content.panel";

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
    font-size: 13px;
    color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
}

.dce-app {
    height: 100%;
}
